/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;          /* Makes it responsive */
    justify-content: center;  /* Centers images */
}

.gallery img {
    max-width: 25vw;          /* As required */
    margin: 10px;             /* As required */
    border: 3px solid #000;   /* As required */
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);  /* As required */
}