/*  your css code here. If applicable */
.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards img {
    max-width: 25vw;
    margin: 10px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 8px 0px;
}